@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Limelight');

body{
	font-family: 'Raleway', arial, sans-serif;
	font-weight:400;
    margin:0;
	background-color: #FCF8F8;
	
	
}
body p{
	align-content: center;
	display: inline-block;
}
nav ul li{
	display:inline-block;
	list-style-type: none;
}
header h1{
	display:block;
	position:relative;
	padding-left:10%;
	padding-top: 5%;
	padding-bottom: 0%;
	box-sizing: border-box;
}